{% extends "base.html" %}  {% block title %}Home : Notes{% endblock %}
{% block testDiv %}<h1>test</h1>{% endblock %}
{% block mainContent %}

<div class="row" style="margin-top: 20px; margin-bottom:10px;">
  <div class="col"><h3>Welcome!</h3></div>
  <div style="text-align: right;" class="col"><button type="button" class="btn btn-danger"><a class="btn" style="color: white;" href="/logout">Logout</a></button></div>
</div>

<h1 align="center">NOTES</h1>
<div>
  <h4>Your Notes!</h4>
<ul class="list-group list-group-flush" id="notes">
    {% for note in user.notes %}
    <li style="font-size: 1rem;" class="list-group-item">{{ note.data }}
        <div style="text-align: right;">
        <button type="button" class="btn-close" onClick="deleteNote({{ note.id }})">
          </button>
        </div>
    </li>
    {% endfor %}
  </ul>
</div>
<div style="margin-top: 40px;">
  <h5>Create a new Note!</h5>
<form method="POST">
    <textarea placeholder="Write your Note here!" name="note" id="note" class="form-control"></textarea>
    <br />
    <div align="center">
      <button type="submit" class="btn btn-primary">Add Note</button>
    </div>
  </form>
</div>

{% endblock %}


